{% extends 'base.html' %}

{% block header %}

  <script src="{{ url_for('static', filename='game.js') }}"></script>
  <h1>{% block title %}Playlist{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--Lists the tracks in the playlist-->
  <ul>
    {% for track in playlist['tracks']['items'] %}
      <li>{{ track['track']['name'] }} : {{ track['track']['preview_url'] }}</li>
    {% endfor %}
  </ul>

  <audio preload="auto" controls id="song" ontimeupdate="pauseCheck()" onplay="playSong()">
    <source src="{{ track['items'][0]['track']['preview_url'] }}" type="audio/mpeg">
  </audio>
  <button id="more" onclick="length = length*2">More</button>
  <details>
    <summary>Details</summary>
    {{ track['items'][0]['track']['name'] }}
    <br>
    {% for artist in track['items'][0]['track']['artists'] %}
      <li>{{ artist['name'] }}</li>
    {% endfor %}
</details>
{% endblock %}

{% block footer %}
  <p>Footer</p>
{% endblock %}