{% extends 'base.html' %}

{% block header %}

  <script src="{{ url_for('static', filename='game.js') }}"></script>
  <h1>{% block title %}Playlist{% endblock %}</h1>
{% endblock %}

{% block content %}
  <button id="play" onclick="play()">Play</button>

  <div hidden id="game">

    <audio preload="auto" controls id="player" ontimeupdate="pauseCheck()" onplay="playSong()"></audio>
    <button id="more" onclick="length = length*2">More</button>
    <details>
      <summary>Details</summary>
      <p id="trackTitle"></p>
      <p id="trackArtist"></p>
    </details>
  </div>
{% endblock %}

{% block footer %}
  <p>Footer</p>
{% endblock %}